.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8rem 3rem;
  width: 75%;
  .arkan {
    background-color: white;
    height: 340px;
    border-radius: 1px;
    width: 300px;
    text-align: center;
    padding: 25px;
    border: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E3E7EBFF' stroke-width='3' stroke-dasharray='6' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
    box-shadow: 0 0 0 1rem rgb(255, 255, 255), 0 0 10px 1rem rgb(166, 166, 166);
    &:not(.modified *)::before {
      box-shadow: 0 0 10px 5px rgb(80, 80, 80);
    }
    .barco {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 7.6rem;
      border-radius: 50%;
      position: absolute;
      top: -1rem;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 10px 1px rgb(170, 170, 170);
      filter: grayscale(60%);
      z-index: 3;
      transition: 350ms;
      &.active {
        filter: brightness(50%);
      }
    }
    .title {
      font-size: 1.6rem;
      font-weight: 500;
      font-family: "Poppins";
      margin-top: 1.8rem;
      color: #515058;
    }
    .subtitle {
      font-size: 0.86rem;
      font-weight: 600;
      font-family: "Poppins";
      color: #9a99a5;
    }
    .sosmed {
      margin-top: 0.78rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      & > .btn {
        aspect-ratio: 1/1;
        width: 100%;
        padding: 1.1rem;
        transform: scale(0.87);
        font-size: 1.7rem;
        background-color: #e7eaef;
        opacity: 0.7;
        border-radius: 50%;
        border: none;
        transition: 150ms;
        &:hover {
          opacity: 1;
          background-color: #e7eaef;
        }
        .fa-brands {
          color: #535252;
        }
      }
    }
    .footer {
      background-color: #424242;
      color: white;
      font-size: 1.2rem;
      min-height: 80px;
      position: absolute;
      inset: auto -1rem -1rem -1rem;
      border-radius: 0 0 15px 15px;
      display: grid;
      font-weight: bold;
      place-items: center;
      z-index: 997;
      .badges {
        background-color: #7d7d7d;
        padding-block: 0.3rem;
        padding-inline: 1rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 10px;
        position: absolute;
        transform: translateY(-50%);
        top: 0;
      }
    }
    .desc {
      background-color: white;
      position: absolute;
      z-index: 998;
      padding: 1.8rem;
      inset: 0;
      border-radius: 15px;
      box-shadow: 0 0 0 10px 2px #ccc;
      opacity: 0;
      transform: scale(0);
      visibility: hidden;
      transition: 350ms ease-in-out;
      &.active {
        opacity: 1;
        text-align: justify;
        visibility: visible;
        transform: scale(1);
      }
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .backdrop.card {
      position: absolute;
      inset: -1rem;
      border-radius: 15px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .btn {
      background-color: #4a4a4a;
      padding-block: 0.3rem;
      padding-inline: 1rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 10px;
      color: white;
      border: none;
      margin-top: 5px;
      transition: 150ms;
      &:hover {
        background-color: #2c2c2c;
      }
    }
  }

  .modified {
    background: linear-gradient(
      to top right,
      #2c2c2c 24%,
      white 24%,
      white 76%,
      #515058 76%,
      #515058
    );
    box-shadow: 0 0 7px 1px rgb(170, 170, 170);
    padding: 2rem;
    width: fit-content;
    border-radius: 15px;
    .arkan {
      background-image: none;
      height: 350px;
      border-radius: 15px;
      @media (max-width:600px) {
        width: 290px;
      }
      .backdrop.card {

        inset: -2rem;

      }
      & > .subtitle2 {
        font-size: 1rem;
        font-weight: 600;
        color: #2c2c2c;
        margin-top: 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .btn {
      margin-top: 1rem;
    }
  }
}
